extends layouts/basic
include parts/_article
include parts/_category

block content
  main.articles-category
    h1 #{currentCategory.title}
    if categories && categories.length
      section.articles-category__theme-list
        h2.visually-hidden Список тем
        ul.themes
          each category in categories
            +category(category)(class=`${category.id === +currentCategory.id ? 'themes__item-link--active': ''}`)

    // Post list
    section.articles-category__list.preview
      h2.visually-hidden Список превью статей
      ul.preview__list
        if articles
          each article in articles
            +article(article)
        else
          p Здесь пока пусто!

    .preview__toggle-wrapper
      +pagination(page, totalPages, 2, `?`)
