extends layouts/basic
include parts/_article
include parts/_category

block content
  main.main-page
    h1.visually-hidden Главная страница личного блога Типотека
    p.
      Это приветственный текст 👏

    section.main-page__theme-list
      h2.visually-hidden Список тем
      ul.themes
        each category in categories
          +category(category)

    .main-page__section-flex
      include ./parts/_hot-articles
      include ./parts/_last-comments
    section.main-page__list.preview
      h2.visually-hidden Список превью статей
      if articles.length > 0
        ul.preview__list
          each article in articles
            +article(article)
      else
        p.preview__text.text--big Здесь пока пусто!

    .preview__toggle-wrapper
      +pagination(page, totalPages, 2, `?`)
